.postModeloContainer {
  color: var(--cor-fonte-post);
  position: relative;
}
.postModeloContainer a:not([class]) {
  color: revert;
  text-decoration: underline;
}
.postModeloContainer pre:not([class]),
.postModeloContainer blockquote:not([class]) {
  background-color: #eaeaee;
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
}
.postModeloContainer pre:not([class]) {
  overflow-x: auto;
}
.postModeloContainer img:not([class]) {
  display: block;
  margin: 0 auto;
  align-items: center;
}

.fotoCapa,
.titulo {
  height: 204px;
}

.fotoCapa {
  width: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  z-index: -1;
}

.titulo {
  font-family: var(--fonte-secundaria);
  padding: 0 7.5rem;
  font-size: 4rem;
  display: flex;
  align-items: center;
}

.postConteudoContainer {
  padding: 2.5rem 7.5rem 4.5rem;
}

@media (max-width: 744px) {
  .postConteudoContainer {
    padding: 2rem 1.5rem 1.5rem;
  }
}

@media (max-width: 744px) {
  .fotoCapa,
  .titulo {
    height: 104px;
  }

  .titulo {
    padding: 0 1rem;
    font-size: 2rem;
  }

  .postConteudoContainer {
    padding: 2rem 1rem 1.5rem;
  }
}
